---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$main-font:     "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$content-width: 800px;

// Base styles
body {
  font-family: $main-font;
  line-height: 1.6;
}

header {
  display: none !important;
}

footer {
  display: none !important;
}